<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Dhairya_Alumini_Networking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegister_Servlet</display-name>
    <servlet-name>UserRegister_Servlet</servlet-name>
    <servlet-class>com.pu.UserRegister_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister_Servlet</servlet-name>
    <url-pattern>/UserRegister_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pu.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutservlet</display-name>
    <servlet-name>Logoutservlet</servlet-name>
    <servlet-class>com.pu.Logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutservlet</servlet-name>
    <url-pattern>/Logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pass_UpdationServlet</display-name>
    <servlet-name>Pass_UpdationServlet</servlet-name>
    <servlet-class>com.pu.Pass_UpdationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pass_UpdationServlet</servlet-name>
    <url-pattern>/Pass_UpdationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upd_Details_Servlet</display-name>
    <servlet-name>Upd_Details_Servlet</servlet-name>
    <servlet-class>com.pu.Upd_Details_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upd_Details_Servlet</servlet-name>
    <url-pattern>/Upd_Details_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_UserServlet</display-name>
    <servlet-name>Delete_UserServlet</servlet-name>
    <servlet-class>com.pu.Delete_UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_UserServlet</servlet-name>
    <url-pattern>/Delete_UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleServlet</display-name>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>com.pu.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentDetails_Servlet</display-name>
    <servlet-name>AddStudentDetails_Servlet</servlet-name>
    <servlet-class>com.pu.AddStudentDetails_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentDetails_Servlet</servlet-name>
    <url-pattern>/AddStudentDetails_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentDetails_Servlet</display-name>
    <servlet-name>UpdateStudentDetails_Servlet</servlet-name>
    <servlet-class>com.pu.UpdateStudentDetails_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentDetails_Servlet</servlet-name>
    <url-pattern>/UpdateStudentDetails_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStudentDetails_Servlet</display-name>
    <servlet-name>DisplayStudentDetails_Servlet</servlet-name>
    <servlet-class>com.pu.DisplayStudentDetails_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStudentDetails_Servlet</servlet-name>
    <url-pattern>/DisplayStudentDetails_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllAlumni_Servlet</display-name>
    <servlet-name>DisplayAllAlumni_Servlet</servlet-name>
    <servlet-class>com.pu.DisplayAllAlumni_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllAlumni_Servlet</servlet-name>
    <url-pattern>/DisplayAllAlumni_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortAlumniByYear_Servlet</display-name>
    <servlet-name>SortAlumniByYear_Servlet</servlet-name>
    <servlet-class>com.pu.SortAlumniByYear_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortAlumniByYear_Servlet</servlet-name>
    <url-pattern>/SortAlumniByYear_Servlet</url-pattern>
  </servlet-mapping>
</web-app>